<form action="/add" method="POST">

        <p>NOME:</p>
        <input type="text" name="nome">
        <p>EMAIL:</p>
        <input type="text" name="email">
        <p>POSTAGEM:</p>
        <input type="text" name="post">
        <button type="submit">Cadastrar</button>

</form>
